[submodule "lib/ricobank"]
	path = lib/ricobank
	url = https://github.com/ricobank/ricobank
	branch = hardhat-diamond-abi
[submodule "lib/feedbase"]
	path = lib/feedbase
	url = https://github.com/feedbase/feedbase.git
	branch = main
